@import "tailwindcss";

@theme inline {
  --font-raleway: var(--raleway-font), sans-serif;
  --font-fraunces: var(--fraunces-font), serif;
}

@theme {
  --color-custom: #FFF9F0;
  --color-heading: #406B6A;
  --color-primary: #D36139;
  --color-secondary: #DE9278;
}
